### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/customer/target/
/fraud/target/
/eureka-server/target/
/clients/target/
/notification/target/
